<div class="container my-5">
  <div class="row">
<h4>ジャンル編集</h4>
  </div>

  <p>ジャンル名</p>

  <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
    <%= f.text_field :name %>

    <%= f.submit "変更を保存" ,class: "btn btn-primary" %>
  <% end %>
</div>